[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
sanic-rest-framework = "*"
sanic = "*"
tortoise-orm = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
